.env
__pycache__/jsearch.cpython-311.pyc
__pycache__/models.cpython-311.pyc
data1.json
database.db
data1.json
.vscode/
__pycache__/
__pycache__/
static/Combined01&02.csv
static/job.csv
static/src/
*.csv~
*.json
Merge.py