{% extends "base.html" %} {% block title %} Fantasma {% endblock %} {% block content %}
<nav class="navbar mt-1">
    <div class="container-fluid">
        <h3 class="navbar-brand">Unghost</h3>
    </div>
</nav>

<!-- <h4>{{utc_dt}}</h4> -->
<div class="row m-1 main">


    <!--Div of Search  bar-->
    <div class="col-xl-6 col-lg-12 bg-light p-2 justify-content-center ">

        <div class="row ">
            <div class="tagline mt-5 mb-2">
                Let's make <span class="tag-text">talent</span> <br><span class="tag-text"> meet</span> opportunities
            </div>
        </div>

        <div class="row align-item-center justify-content-center">
            <div class="body-tag-text">
        
               <p2><b> Find jobs that matches your skills, challenges your abilities <br> provides you opportunities for growth </p2></b>     
            </div>
        </div>

        <!--Search bar starts-->
        <div class="row align-item-center justify-content-center">
            <div class="search-bar d-flex">  
                <form action = "{{ url_for('search_results') }} " method = "GET">
                    <input type="text" class="input-group p-2 input-box mt-1 mb-1" placeholder="Search here" name="query">
                    <!-- <button type = "submit" class="btn search-btn btn-lg m-1 ml-2 ">Search</button> -->
                </form>  
            </div>
        </div>
        <!--Search bar ends-->


    </div>

    <!--Div of Result Body-->
    <div class="col-xl-6 col-lg-12 result-div  p-2">
        <div class="row">
            <div class="col p-5 text-center">

                <div class="table-wrapper-scroll-y my-custom-scrollbar table-bg p-1">
                    <table class="table table-borderless mb-0">

                        <tbody>
                            <!--Table row-->
                            {% for job in jobs %}
                            <tr>
                                <th scope="row">
                                    <div class="card shadow">
                                        <div class="card-body p-3 text-left">
                                            <div class="row">
                                              
                                                <div class="col-8">
                                                    <h5 class="card-title "><b>Company: </b>{{job.company_name}}</h5>
                                                    <h5 class="card-title"><b>Role: </b>{{job.job_role}}</h5>
                                                    <h5 class="card-title"><b>Location: </b>{{job.location}}</h5>

                                                </div>
                                                <div class="col-4 ">
                                                    <div class="row d-flex justify-content-center align-item-center">
                                                        <a href="{{ job.link }}" class="btn-apply btn">Apply here</a>
                                                    </div>

                                                    <div class="row d-flex justify-content-center align-item-center">
                                                        <a class="mt-4 p-2 show-btn" data-toggle="collapse" data-target="#{{ job.id }}" aria-expanded="false" aria-controls="collapseCard" href="#">
                                                            Show more <span class="aero"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="collapse" id="{{ job.id }}">
                                                    <div class="card p-3">
                                                     <div class = "card-body"> 
                                                            <style>
                                                                p {
                                                                    white-space: pre-line;
                                                                    font-family :"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                                    font-size: 19px;
                                                                }
                                                            </style>
                                                            <p>{{ job.desc}}</p> </div>


                                                    </div>
                                                </div>
                                            </div>
                                       
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!--Result body Ends-->



    <div class="col-12 bg-dark  p-3 footer">
        <span class="footer-text p-3">
            <b>Created by Team Fantasma for the Hack 4 Community Hackathon</b>
        </span>
    </div>
</div>






{% endblock %}