{% extends "base.html" %} {% block title %} Fantasma {% endblock %} {% block content %}
<nav class="navbar mt-1">
    <div class="container-fluid">
        <h3 class="navbar-brand">Unghost</h3>
    </div>
</nav>

<!-- <h4>{{utc_dt}}</h4> -->
<div class="row m-1 main">


    <!--Div of Search  bar-->
    <div class="col-xl-6 col-lg-12 bg-light p-2 justify-content-center ">

        <div class="row ">
            <div class="tagline mt-5 mb-2">
                Let's make <span class="tag-text">talent</span> <br><span class="tag-text"> meet</span> opportunity
            </div>
        </div>

        <div class="row align-item-center justify-content-center">
            <div class="body-tag-text ">
                Hand-picked opportunities to work from home, remotely, freelance, <br>full-time, part-time, contract and internships.
            </div>
        </div>

        <!--Search bar starts-->
        <div class="row d-flex align-item-center justify-content-center">
            <form action="" autocomplete="off">
                <div class="search-bar autocomplete">
                    <!-- <div class="autocomplete" style="width:600px;"> -->
                    <input type="text" id="myInput" name="myCountry" class="input-group p-2 input-box mt-1 mb-1" placeholder="Search here">

                    <!-- Script for autocomplete starts-->
                    <script>
                        autocomplete(document.getElementById("myInput"), countries);
                    </script>
                    <!-- Script for autocmplete ends -->

                    <!-- </div> -->
                </div>
            </form>
        </div>
        <!--Search bar ends-->
    </div>

    <!--Div of Result Body-->
    <div class="col-xl-6 col-lg-12 result-div  p-2">
        <div class="row">
            <div class="col p-5 text-center">

                <div class="table-wrapper-scroll-y my-custom-scrollbar table-bg p-1">
                    <table class="table table-borderless mb-0">

                        <tbody>
                            <!--Table row-->
                            <tr>
                                <th scope="row">
                                    <div class="card shadow">
                                        <div class="card-body p-3 text-left">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h5 class="card-title "><b>Company Name</b></h5>
                                                    <h5 class="card-title">Job Role: Developer</h5>
                                                    <h5 class="card-title">Location: Banglore</h5>

                                                </div>
                                                <div class="col-4 ">
                                                    <div class="row d-flex justify-content-center align-item-center">
                                                        <a href="#" class="btn-apply btn">Apply here</a>
                                                    </div>

                                                    <div class="row d-flex justify-content-center align-item-center">
                                                        <a class="mt-2 p-2 show-btn" data-toggle="collapse" data-target="#collapseCard" aria-expanded="false" aria-controls="collapseCard" href="#">
                                                            Show more <span class="aero">⌄</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="collapse" id="collapseCard">
                                                    <div class="card p-3 ">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quae labore adipisci officiis maxime officia unde minima quod a cumque et nesciunt voluptate sequi nemo modi quo,
                                                        assumenda error ipsam.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="card shadow">
                                        <div class="card-body p-3 text-left">
                                            <h5 class="card-title">Job Role</h5>
                                            <h5 class="card-title">Company Name</h5>
                                            <h5 class="card-title"><a href="#">Apply here</a></h5>
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="card shadow">
                                        <div class="card-body p-3 text-left">
                                            <h5 class="card-title">Job Role</h5>
                                            <h5 class="card-title">Company Name</h5>
                                            <h5 class="card-title"><a href="#">Apply here</a></h5>
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="card shadow">
                                        <div class="card-body p-3 text-left">
                                            <h5 class="card-title">Job Role</h5>
                                            <h5 class="card-title">Company Name</h5>
                                            <h5 class="card-title"><a href="#">Apply here</a></h5>
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="card shadow">
                                        <div class="card-body p-3 text-left">
                                            <h5 class="card-title">Job Role</h5>
                                            <h5 class="card-title">Company Name</h5>
                                            <h5 class="card-title"><a href="#">Apply here</a></h5>
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="card shadow">
                                        <div class="card-body p-3 text-left">
                                            <h5 class="card-title">Job Role</h5>
                                            <h5 class="card-title">Company Name</h5>
                                            <h5 class="card-title"><a href="#">Apply here</a></h5>
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="card shadow">
                                        <div class="card-body p-3 text-left">
                                            <h5 class="card-title">Job Role</h5>
                                            <h5 class="card-title">Company Name</h5>
                                            <h5 class="card-title"><a href="#">Apply here</a></h5>
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="card shadow">
                                        <div class="card-body p-3 text-left">
                                            <h5 class="card-title">Job Role</h5>
                                            <h5 class="card-title">Company Name</h5>
                                            <h5 class="card-title"><a href="#">Apply here</a></h5>
                                        </div>

                                    </div>
                                </th>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!--Result body Ends-->



    <div class="col-12 bg-dark  p-3 footer">
        <span class="footer-text p-3">
            © Copyright 2023 Team Fantasma
        </span>
    </div>
</div>






{% endblock %}